.perenos-hyphens {
	word-wrap: break-word;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.name: {
    textAlign: center;
    fontWeight: bold;
    fontSize: 18;
    marginTop: 0;
    width: 200;
    backgroundColor: 'yellow';
}